{% extends "backend/base.html" %}
{% block title %}

Belmont Station Merino & Possum - Admin page
{% endblock %}
{% block content %}



<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>

        </div>
        <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white">
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Show all</option>
                        <option>Active</option>
                        <option>Disabled</option>

                    </select>
                </div>

            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Order Money</th>
                            <th scope="col">Shipping fee</th>
                            <th scope="col">Total</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in items%}
                        <tr>
                            <td>{{item.order_sn}}</td>
                            <td><b>{{item.invoice_title}}</b></td>
                            <td>${{item.order_money}}</td>
                            <td>${{item.shipping_money}}</td>
                            <td>${{item.district_money}}</td>
                            <td>${{item.payment_money}}</td>
                            <td><span class="badge rounded-pill alert-warning">{%if item.order_status == 1%} Unpaid
                                    {%elif item.order_status == 2%}Paid and order is Preparing {%elif item.order_status == 3%} Delivery
                                    {%elif item.order_status == 0%}Completed {%elif item.order_status == 4%} Canceled
                                    {%endif%}</span></td>
                            <td>{{item.create_time}}</td>
                            <td class="text-end">
                                <a href="{{url_for('backend.view_order',order_sn = item.order_sn)}}" class="btn btn-md rounded font-sm">Detail</a>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                                        <i class="material-icons md-more_horiz"></i> </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{url_for('backend.view_order',order_sn = item.order_sn)}}">View detail</a>

                                    </div>
                                </div> <!-- dropdown //end -->
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">

                {% if pagination.page > 1 %}
                <li class="page-item"> <a
                        href="{{ url_for('backend.order_list', page=pagination.page - 1) }}">Previous</a></li>
                {% endif %}

                {% for page_num in range(1, pagination.num_pages + 1) %}
                <li class="page-item"> <a href="{{ url_for('backend.order_list', page=page_num) }}">{{ page_num }}</a>
                </li>
                {% endfor %}

                {% if pagination.page < pagination.num_pages %} <li class="page-item"> <a
                        href="{{ url_for('backend.order_list', page=pagination.page + 1) }}">Next</a></li>
                    {% endif %}


            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->


{% endblock %}