{% extends "backend/base.html" %}
{% block title %}

Belmont Station Merino & Possum - Admin page
{% endblock %}
{% block content %}



<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Popular Product List </h2>

        </div>

    </div>
    <div class="card mb-4">
        <header class="card-header">
            <form class="contact-form-style mt-30 mb-50" method="post" action="{{url_for('backend.popular_products')}}">
                <div class="row gx-3">
                    
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                        <select class="form-select" name="f_category">
                            <option value="0">All category</option>
                            {%for ca in one_category_list%}
                            <option value="{{ca.cate_id}}"> {{ca.name}}</option>
                            {%endfor%}
                        </select>
    
                    </div>
                    <div class="col-md-2 col-6">
                        <input type="date" class="form-control" name="date_p" required>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <button class="btn btn-md rounded font-sm" type="submit">Search</button>
                    </div>

                </div>
            </form>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Prouduct Name</th>
                            <th scope="col">Sales Amout</th>
                         
                        </tr>
                    </thead>
                    <tbody id="g_order_list">
                        {%for item in items%}
                        <tr>
                            <td>{{item.product_id}}</td>
                            <td><b>{{item.product_name}}</b></td>
                            <td>{{item.cnt}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">

                {% if pagination.page > 1 %}
                <li class="page-item"> <a
                        href="{{ url_for('backend.order_list', page=pagination.page - 1) }}">Previous</a></li>
                {% endif %}

                {% for page_num in range(1, pagination.num_pages + 1) %}
                <li class="page-item"> <a href="{{ url_for('backend.order_list', page=page_num) }}">{{ page_num }}</a>
                </li>
                {% endfor %}

                {% if pagination.page < pagination.num_pages %} <li class="page-item"> <a
                        href="{{ url_for('backend.order_list', page=pagination.page + 1) }}">Next</a></li>
                    {% endif %}


            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->

<script>
    document.getElementById('trackOrderForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent form submission

        var order_id = document.getElementById('order_id').value;
        var customer_name = document.getElementById('customer_name').value;
        var status = document.getElementById('status').value;
        
        // Check if at least one of the fields is not empty
        //if (order_id.trim() === '' && customer_name.trim() === '') {
        //    alert('Please enter at least Order ID or Customer Name.');
          //  return;
        //}

        fetch('/backend/track_order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ order_id: order_id, customer_name: customer_name, status: status })
        })
            .then(response => response.json())
            .then(data => {
                var orderList = document.getElementById('g_order_list');
                orderList.innerHTML = '';

                data.orders.forEach(order => {
                    var row = document.createElement('tr');

                    row.innerHTML = `
                <td>${order.order_sn}</td>
                <td><b>${order.invoice_title}</b></td>
                <td>$${order.order_money}</td>
                <td>$${order.shipping_money}</td>
                <td>$${order.district_money}</td>
                <td>$${order.payment_money}</td>
                <td><span class="badge rounded-pill alert-warning">${getStatusText(order.order_status)}</span></td>
                <td>${new Date(order.create_time).toLocaleString()}</td>
                <td class="text-end">
                    <a href="/backend/view_order/${order.order_sn}" class="btn btn-md rounded font-sm">Detail</a>
                   
                </td>
            `;

                    orderList.appendChild(row);
                });
            });
    });

    function getStatusText(status) {
        switch (status) {
            case 1: return 'Awaiting payment';
            case 2: return 'Confirmed and Prepare';
            case 3: return 'Delivery';
            case 0: return 'Completed';
            case 4: return 'Canceled';
            default: return 'Unknown';
        }
    }

</script>
{% endblock %}