{% extends "backend/base.html" %}
{% block title %}

Belmont Station Merino & Possum - Admin page
{% endblock %}
{% block content %}


<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Warehouse</h2>
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form action ="{{ url_for('backend.insert_warehouse') }}" method="post">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">warehouse name</label>
                            <input type="text" placeholder="Type here" name="name" class="form-control" id="product_name">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Contact</label>
                            <input type="text" placeholder="Type here" name="contact" class="form-control">
                        </div>
                       
                        
                        <div class="mb-4">
                            <label class="form-label">Phone</label>
                            <input type="text" placeholder="Type here" name="phone" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">zip</label>
                            <input type="text" placeholder="Type here" name="zip" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Street</label>
                            <input type="text" placeholder="Type here" name="street" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">city</label>
                            <input type="text" placeholder="Type here" name="city" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Region</label>
                            <input type="text" placeholder="Type here" name="region" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Country</label>
                            <input type="text" placeholder="Type here" name="country" class="form-control">
                        </div>
                            <button class="btn btn-md rounded font-sm hover-up" type="submit">Publich</button>
                        </div>
                    </form>
                </div>
            </div> <!-- card end// -->
           
        </div>
      
    </div>
</section> <!-- content-main end// -->

{% endblock %}