{% extends "backend/base.html" %}
{% block title %}

Belmont Station Merino & Possum - Admin page
{% endblock %}
{% block content %}


<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Brand</h2>
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form action ="{{ url_for('backend.edit_brand') }}" method="post" enctype="multipart/form-data">
                        <input name="brand_id" value="{{brand_info.brand_id}}" hidden>
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Brand name</label>
                            <input type="text" placeholder="Type here" name="brand_name" class="form-control" value="{{brand_info.brand_name}}">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Full description</label>
                            <textarea placeholder="Type here" name="brand_desc" class="form-control" rows="4" >{{brand_info.brand_desc}}</textarea>
                        </div>
                        <div class="card-header bg-white text-center">
                            <img height="76" src="{{brand_info.brand_logo}}" class="img-fluid" alt="Logo">
                        </div>
                        
                        <label class="form-check mb-4">
                            <input name ="logo_exist" value="{{brand_info.brand_logo}}" hidden>
                            <label for="images">Brand Logo:</label>
                            <input type="file" id="logo" name="logo" pattern=".*\.(jpg|jpeg|png|gif)$" title="Please upload a valid image file name (jpg, jpeg, png, gif)">
                        </label>
                        <div>
                          
                            <button class="btn btn-md rounded font-sm hover-up" type="submit">Publich</button>
                        </div>
                    </form>
                </div>
            </div> <!-- card end// -->
           
        </div>
      
    </div>
</section> <!-- content-main end// -->

{% endblock %}